#booklist {
  width: 100%;
  height: 100%;
}

#booklist section {
  background: #18c7aa;
  padding-top: 92px;
  padding-bottom: 100px;
}

#booklist #search-result-wrapper {
  background: white;
  width: 800px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 100px;
}

#booklist #search-result-header {
  text-align: center;
  margin-bottom: 32px;
}

#booklist #search-result-header div:nth-of-type(1) {
  font-size: 44px;
  letter-spacing: 0;
  line-height: 30px;
  font-weight: 300;
  color: white;
  font-family: Roboto, sans-serif;
}

#booklist #search-result-header div:nth-of-type(2) {
  font-size: 23px;
  letter-spacing: 0;
  line-height: 54px;
  font-weight: 300;
  color: rgba(0, 0, 0, .4);
  font-family: Roboto, sans-serif;
}

#booklist .bookcard {
  width: 750px;
  height: 200px;
  border: 3px solid #56c1ce;
  background: white;
  margin: 0 auto;
  margin-bottom: 80px;
  list-style-type: none;
}

#booklist .bookcard:last-of-type {
  margin-bottom: 0;
}

#booklist .bookcard .book-image {
  display: block;
  width: 20%;
  height: 100%;
  float: left;
}

#booklist .bookcard .book-info {
  display: inline-block;
  text-align: center;
  width: 80%;
}

#booklist .bookcard .book-info h1 {
  color: #8a6d2f;
  font-weight: 400;
  font-size: 35px;
  word-break: keep-all;
}

#booklist .bookcard .book-info h2 {
  color: #2f338a;
  font-weight: 400;
  font-size: 20px;
  word-break: keep-all;
}

#booklist footer {
  height: 200px;
}

#non-search-result{
  text-align: center;
}