.header-wrapper {
    padding-top: 23px;
    padding-bottom: 23px;
    max-width: 940px;
    margin: auto;
    height: 40px;
}

#brand-wrapper {
    height: 100%;
    width: 20%;
    float: left;
    display: table;
}

#brand-logo {
    display: table-cell;
    width: 40px;
    margin-right: 13px;
}

#brand-name {
    color: #2e2e2e;
    font-size: 32px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.social-btn {
    display: table-cell;
    vertical-align: middle;
    margin-left: 17px;
    padding-right: 2px;
    padding-left: 2px;
    opacity: 0.15;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}

.social-btn:hover {
    opacity: 0.8;
}

.social-img {
    width: 25px;
}

#social-btn-wrapper {
    height: 100%;
    width: 10%;
    float: right;
    display: table;
}