#search-wrapper {
  width: 100%;
  background-color: #fa9260;
  padding-top: 92px;
  padding-bottom: 92px
}

#search-wrapper #search-box {
  width: 50%;
  margin: auto;
  border-radius: 30px;
  background-color: white;
  height: 54px;
  padding: 30px 60px 30px 60px;
}

#search-wrapper #search-box-input {
  width: 69%;
  float: left;
  border: 0;
  height: 96%;
  font-size: 18px;
  font-weight: 300;
  padding-left: 5px;
}

#search-wrapper #search-box-input:focus {
  outline: 2px solid #806732;
}

#search-wrapper #search-box-btn {
  background-color: #a83d3d;
  width: 30%;
  border: 0;
  height: 100%;
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

#search-wrapper #search-box-btn:hover{
  background-color: #18c7aa;
}