@media only screen and (min-width: 768px) {
  #search-box {
    width: 50%;
    height: 54px;
    padding: 30px 60px 30px 60px;
  }

  .search-box-text{
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #search-box {
    width: 70%;
    height: 30px;
    padding: 10px 30px 10px 30px;
  }

  .search-box-text{
    font-size: 13px;
    font-weight: 300;
    padding-left: 10px;
  }
}

#search-wrapper {
  width: 100%;
  background-color: #fa9260;
  padding-top: 92px;
  padding-bottom: 92px
}

.search-box {
  margin: auto;
  border-radius: 30px;
  background-color: white;
}

#search-box-input {
  width: calc(70% - 10px);
  float: left;
  border: 0;
  height: 96%;
}

#search-box-input:focus {
  outline: 2px solid #806732;
}

#search-box-btn {
  background-color: #a83d3d;
  width: 29%;
  border: 0;
  height: 100%;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

#search-box-btn:hover {
  background-color: #18c7aa;
}